body {
  background-color: var(--color-white);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header-button {
  background-color: transparent;
}
.header-button svg path {
  stroke: var(--color-black);
  fill: var(--color-black);
}

.slider-timer-slide__list-play {
  color: #000;
}

.slider-timer-slide__list-teamName {
  color: #000;
}

.menu-list {
  border: 1.503px solid rgba(27, 27, 27, 0.7);
}

.menu-list-body__item-link p {
  color: #000;
}
.menu-list-body__item-link circle {
  color: #000;
  stroke: #000;
}
.menu-list-body__item-link svg {
  color: #000;
  stroke: #000;
}
.menu-list-body__item-link svg path {
  color: #000;
  stroke: #000;
}