body {
  background-color: var(--color-white);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.header-button {
  background-color: transparent;
}
.header-button svg path {
  stroke: var(--color-black);
  fill: var(--color-black);
}

.slider-timer-slide__list-play {
  color: #000;
}

.slider-timer-slide__list-teamName {
  color: #000;
}

.menu-list {
  border: 1px solid var(--gray_bgLight);
}

.menu-list-body__item-link p {
  color: #000;
}
.menu-list-body__item-link circle {
  color: #000;
  stroke: #000;
}
.menu-list-body__item-link svg {
  color: #000;
  stroke: #000;
}
.menu-list-body__item-link svg path {
  color: #000;
  stroke: #000;
}

.menu-list {
  background-color: #fff;
}

.team-blocks_list-user {
  background: var(--gray_bg);
}

.team-blocks_list-user {
  color: var(--color-black);
}

.team-blocks_list-name {
  color: var(--color-black);
}

.team-panel-header_left-team {
  color: var(--color-black);
}

.team-panel-header_left-teamTitle {
  color: var(--color-black);
}

.team-panel-gamers__title {
  color: var(--color-black);
}

.team-panel-gamers__title {
  color: var(--color-black);
}

.team-panel-gamers {
  border: 1px solid var(--gray_bgLight);
}

.team-blocks_list-cap svg path {
  color: var(--color-black);
  stroke: var(--color-black);
}

.team-panel-header_right div {
  color: var(--green);
}

.team-panel-header_right-icon svg path {
  stroke: var(--green);
}

.add-gamer-button p {
  stroke: var(--green);
}
.add-gamer-button .add-gamer-button-icon svg path {
  stroke: var(--green);
}

.menu-list-body__item-link.active .menu-list-body__item-icon svg circle {
  stroke: var(--green);
}
.menu-list-body__item-link.active .menu-list-body__item-icon svg path {
  stroke: var(--green);
}

.panel_buttons-save {
  background-color: var(--green);
}

.panel_buttons-random {
  border: 1.5px solid var(--green);
  background-color: var(--green);
}

.panel_buttons {
  background-color: #fff;
}

.panel_buttons-random {
  background-color: #fff;
}