body {
  background-color: var(--color-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &-button {
    background-color: transparent;

    svg {
      path {
        stroke: var(--color-black);
        fill: var(--color-black);
      }
    }
  }
}

.slider-timer-slide__list-play {
  color: #000;
}

.slider-timer-slide__list-teamName {
  color: #000;
}

.menu-list {
  border: 1px solid var(--gray_bgLight);
}

.menu-list-body__item-link {
  p {
    color: #000;
  }

  circle {
    color: #000;
    stroke: #000;
  }

  svg {
    color: #000;
    stroke: #000;

    path {
      color: #000;
      stroke: #000;
    }
  }
}

.menu-list {
  background-color: #fff;
}

.team-blocks_list-user {
  background: var(--gray_bg);
}

.team-blocks_list-user {
  color: var(--color-black);
}

.team-blocks_list-name {
  color: var(--color-black);
}

.team-panel-header_left-team {
  color: var(--color-black);
}

.team-panel-header_left-teamTitle {
  color: var(--color-black);
}

.team-panel-gamers__title {
  color: var(--color-black);
}

.team-panel-gamers__title {
  color: var(--color-black);
}

.team-panel-gamers {
  border: 1px solid var(--gray_bgLight);
}

.team-blocks_list-cap {
  svg {
    path {
      color: var(--color-black);
      stroke: var(--color-black);
    }
  }
}

.team-panel-header_right {
  div {
    color: var(--green);
  }
}

.team-panel-header_right-icon {
  svg {
    path {
      stroke: var(--green);
    }
  }
}

.add-gamer-button {
  p {
    stroke: var(--green);
  }

  .add-gamer-button-icon {
    svg {
      path {
        stroke: var(--green);
      }
    }
  }
}

.menu-list-body__item-link {
  &.active {
    .menu-list-body__item-icon {
      svg {
        circle {
          stroke: var(--green);
        }

        path {
          stroke: var(--green);
        }
      }
    }
  }
}

.panel_buttons-save {
  background-color: var(--green);
}

.panel_buttons-random {
  border: 1.5px solid var(--green);
  background-color: var(--green);
}

.panel_buttons {
  background-color: #fff;
}

.panel_buttons-random {
  background-color: #fff;
}

.rules-banner__title {
  color: #fff;
}

.rules-banner-button {
  svg {
    path {
      fill: #fff;
    }
  }
}

.rules-banner-button__right {
  span {
    color: #fff;
  }
}

.rules-list__item-icon {
  svg {
    path {
      stroke: var(--color-black);
    }
  }
}

.inst {
  svg {
    fill: #000 !important;

    path {
      fill: #000 !important;
      stroke: var(--color-black);
    }
  }
}

.tele {
  svg {
    fill: #000 !important;

    path {
      fill: #000 !important;
      stroke: var(--color-black);
    }
  }
}

.brends {
  svg {
    fill: #000 !important;

    path {
      fill: #000 !important;
      stroke: var(--color-black);
    }
  }
}

.rules-list__item-title {
  p {
    color: var(--color-black);
  }
}

.rules-list__title {
  color: #000;
}
